body, html{
    height: 100%;
    background-color: papayawhip;
    background-image: url("../images/sky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.cloudenemycard, .lelouchenemycard, .yagamienemycard, .yugienemycard {
    text-align: center;
    background-color: black;
    color: white;
}